header{
    background-color: rgb(2, 2, 167);
    color: white;
    position: fixed;
   width: 100%;
   z-index: 999;
   h3{
       font-size: 16px;
   }
}

.person{
    font-size: 14px;
}

.btn1{
    background:none;
    color: white;
    border: none;
}

